body {
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 background: #7F7FD5;
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); 
}


.tarjeta {
  border: 1px  solid rgba(0, 0,0, 0.1);
  color: white;
  background: rgb(78, 102, 136);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  transition: background-color 0.3s ease;
  text-align: center;
  cursor: pointer;
}


.tarjeta:hover {
  background-color: rgb(113, 192, 187);
}


.boton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.boton:active {
  background-color: #b30021;
  transform: scale(0.95);
}
